.text-dark-blue {
  color: #161e71; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.sub-section {
  padding: 15px 0;
}

.image-bg-fluid-height,
.image-bg-fixed-height {
  width: 100%;
  height: 50%;
  position: relative;
  display: table;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

.image-bg-fluid-height {
  background: url('../img/eva.jpg') no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 100px 0;
}

.image-bg-fixed-height {   
	background: url('../img/cl1.jpeg') no-repeat center center scroll;
  height: 450px;
}

/* ---------------
  Breadcrumb
--------------- */
.page-area{
    position: relative;
}
.page-area {
    background: url(img/background/b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.breadcrumb{
    padding: 100px 0px;
    background-color: transparent;
    margin-bottom: 0;
}
.breadcrumb .section-headline h3 {
    font-size: 48px;
    letter-spacing: 2px;
    line-height: 48px;
	text-transform: inherit;
}
.breadcrumb .section-headline{
    margin-bottom: 0px;
}
.breadcrumb .section-headline h3::after {
    display: none;
}
.breadcrumb ul {
    padding: 10px 0px;
}
.breadcrumb ul li {
    display: inline-block;
    color: #fff;
    padding: 0px 10px 0px 20px;
    position: relative;
    font-size: 16px;
}
.breadcrumb ul li.home-bread{
    padding-left: 0px;
}
.breadcrumb ul li.home-bread::after {
    position: absolute;
    content: "\f105";
    font-family: fontAwesome;
    right: -10px;
    top: 0;
}
.breadcrumb .section-headline::after {
    display: none;
}

/* ------------
  About Content
---------------- */
.about-content h4 {
    font-weight: 600;
    line-height: 32px;
    text-transform: uppercase;
    font-size: 21px;
	position: relative;
}
.about-content h4 ::after {
    border: 1px solid #f5af25;
    bottom: 0px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    width: 12%;
}
.about-content p {
    font-size: 14px;
    letter-spacing: 0.50px;
    line-height: 24px;
}
.about-details {
    overflow: hidden;
    display: block;
    padding-top: 10px;
}
.icon-title{
	display: block;
	overflow: hidden;
}
.single-about {
    width: 48%;
    float: left;
    margin-right: 20px;
}
.single-about p{
	text-align: left;
}
.single-about:nth-child(2n),
.single-about:nth-child(4n){
	margin-right:0px;
}
.single-about:nth-child(3n),
.single-about:nth-child(4n){
	margin-bottom:0px;
}
.single-about a {
    font-size: 40px;
    color: #f5af25;
    float: left;
    line-height: 49px;
}
.single-about h5 {
    font-size: 18px;
    color: #666;
    float: left;
    line-height: 50px;
    padding-left: 10px;
    margin-bottom: 0;
    font-weight: 600;
}

/* --------------
  Team Area
--------------- */
.team-area{
  background: #fff;
}

.single-member {
    position: relative;
    overflow: hidden;
	margin-top: 30px;
}
.team-content {
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,44,87,0.90) none repeat scroll 0 0;
    padding: 22px 20px;
    transition: 0.5s;
}
.team-share {
    opacity: 0;
}
.single-member:hover .team-content {
    transition: 0.5s;
    top:0px;
    padding: 50px 20px;
    background: rgba(0,44,87,0.99) none repeat scroll 0 0;
}
.single-member:hover .team-share {
    opacity: 1;
}
.team-title h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    margin-bottom: 5px;
}
.team-title h6 {
    color: #f5af25;
}
.team-share p {
    color: #fff;
    letter-spacing: 1px;
}
.social-icon li{
    display: inline-block;
}
.social-icon li a {
    color: #fff;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    border-radius: 50%;
}
.social-icon li a:hover{
    color: #f5af25;
}
.team-content .social-icon{
  margin-top: 15px;
}